$colors: (
        black: black,
        white: white,
        blue: #10a7ff,
        secondary: #ccdcec,
        gray-light: #f2f2f2,
        gray: #ededed,
        gray-dark: #ddd,
) !default;

@each $name, $color in $colors {
    .text-#{$name} {
        color: $color;
    }

    .link-#{$name} a {
        color: $color
    }

    .bg-#{$name} {
        background-color: $color
    }

    .border-#{$name} {
        border: 1px solid $color;
    }

    .border-#{$name}-t {
        border-top: 1px solid $color;
    }

    .border-#{$name}-r {
        border-right: 1px solid $color;
    }

    .border-#{$name}-b {
        border-bottom: 1px solid $color;
    }

    .border-#{$name}-l {
        border-left: 1px solid $color;
    }

    .border-#{$name}-y {
        border-top: 1px solid $color;
        border-bottom: 1px solid $color;
    }

    .border-#{$name}-x {
        border-left: 1px solid $color;
        border-right: 1px solid $color;
    }
}