// Flex in separate file
@use "mixins";
@use "functions";

@include mixins.sizing using($prefix) {
    #{$prefix}d-inline {
        display: functions.important(inline);
    }

    #{$prefix}d-inline-block {
        display: functions.important(inline-block);
    }

    #{$prefix}d-block {
        display: functions.important(block);
    }

    #{$prefix}d-none {
        display: functions.important(none);
    }
}
