// Flex in separate file

.d-inline {
    display: inline;
}

.d-inline-block {
    display: inline-block;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

@include sizing {
    &\:d-inline {
        display: inline;
    }

    &\:d-inline-block {
        display: inline-block;
    }

    &\:d-block {
        display: block;
    }

    &\:d-none {
        display: none;
    }

    &\:pull-right {
        float: right;
    }

    &\:pull-left {
        float: left;
    }
}