// Flex in separate file
@include sizing using($prefix) {
    #{$prefix}d-inline {
        display: important(inline);
    }

    #{$prefix}d-inline-block {
        display: important(inline-block);
    }

    #{$prefix}d-block {
        display: important(block);
    }

    #{$prefix}d-none {
        display: important(none);
    }
}
