@use "mixins";

@mixin styles() {
    .grid {
        display: grid;
    }

    @include mixins.sizing(true) using ($prefix) {
        @for $i from 1 through 12 {
            #{$prefix}grid-cols-#{$i} {
                grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
            }
            #{$prefix}grid-rows-#{$i} {
                grid-template-rows: repeat(#{$i}, minmax(0, 1fr));
            }
            #{$prefix}col-#{$i} {
                grid-column-end: span $i;
            }
            #{$prefix}offset-#{$i} {
                grid-column-start: $i + 1;
            }
        }
    }
}

