@use "mixins";

@mixin styles() {
    .row {
        display: grid;
        gap: var(--grid-gap, 10px);
        grid-template-columns: repeat(var(--grid-columns, 12), 1fr);
        align-items: var(--grid-align-items, start);
    }

    @include mixins.sizing(true) using ($prefix) {
        @for $i from 1 through 12 {
            #{$prefix}col-#{$i} {
                grid-column-end: span $i;
            }
            #{$prefix}offset-#{$i} {
                grid-column-start: $i + 1;
            }
        }
    }
}

