$u-gutter: 15 !default;
$u-containerPadding: $u-gutter !default;
$u-containerWidth: 1100px !default;

// Columns placeholder to shorten css
%column {
    margin-left: #{$u-gutter}px;
    margin-right: #{$u-gutter}px;
    position: relative;
    width: 100%;
}

.container {
    max-width: $u-containerWidth;
    margin-left: auto;
    margin-right: auto;
    padding-left: #{$u-containerPadding}px;
    padding-right: #{$u-containerPadding}px;
    position: relative;
}

.row {
    margin: 0 -#{$u-gutter}px;
    flex-wrap: wrap;
    display: flex;
}

// Simple col definition
.col {
    flex: 1;
    margin: 0 #{$u-gutter}px;
}

@for $i from 1 through 12 {
    .col-#{$i} {
        @extend %column;
    }

    .col-#{$i} {
        flex: 0 1 calc(#{percentage($i/12)} - #{$u-gutter * 2}px);
        max-width: calc(#{percentage($i/12)} - #{$u-gutter * 2}px);
    }
}

// Separate iteration to use @extend directive outside
// media queries
@each $name, $size in $u-sizes {
    @if($name != 'base') {
        @for $i from 1 through 12 {
            .#{$name}\:col-#{$i} {
                @extend %column;
            }
        }
    }
}

@include sizing($withbase: false) {
    @for $i from 1 through 12 {
        #{$prefix}col-#{$i} {
            flex: 0 1 calc(#{percentage($i/12)} - #{$u-gutter * 2}px);
            max-width: calc(#{percentage($i/12)} - #{$u-gutter * 2}px);
        }
    }
}
