$current: null;

@function getCurrentPrefix() {
    $selector: '.';
    @if ($current != 'base') {
        $selector: unquote('.#{$current}\\:');
    }
    @return $selector;
}

@function getCurrentPrefixName() {
    @return $current;
}

@mixin sizing($withbase: true) {
    $iteratedSizes : $sizes;

    @if($withbase == false) {
        $iteratedSizes: map_remove($sizes, 'base');
    }

    @each $name, $size in $iteratedSizes {
        $current: $name !global;

        @if ($name == 'base') {
            @content;
        } @else {
            @media (min-width: $size) {
                @content;
            }
        }
    }
}