@use "sass:string";
@use "sass:map";
@use "variables";

@mixin sizing($withbase: true) {
    $iteratedSizes : variables.$u-sizes;

    @if($withbase == false) {
        $iteratedSizes: map.remove(variables.$u-sizes, 'base');
    }

    @each $name, $size in $iteratedSizes {
        $prepend: '.';
        @if ($name != 'base') {
            $prepend: string.unquote('.#{$name}\\:#{variables.$u-prefix}');
        }
        @else {
            $prepend: '.#{variables.$u-prefix}';
        }

        $prefix: $prepend;

        @if ($name == 'base') {
            @content($prefix);
        } @else {
            @media (min-width: $size) {
                @content($prefix);
            }
        }
    }
}
