@mixin sizing($withbase: true) {
    $iteratedSizes : $u-sizes;

    @if($withbase == false) {
        $iteratedSizes: map_remove($u-sizes, 'base');
    }

    @each $name, $size in $iteratedSizes {
        $prepend: '.';
        @if ($name != 'base') {
            $prepend: unquote('.#{$name}\\:');
        }

        $prefix: $prepend;

        @if ($name == 'base') {
            @content($prefix);
        } @else {
            @media (min-width: $size) {
                @content($prefix);
            }
        }
    }
}
