// Basic reset
@use "./variables";

@mixin styles() {
    @if(variables.$u-enable-reset) {
        * {
            box-sizing: border-box;
        }

        html,
        body {
            margin: 0;
            padding: 0;
        }

        body {
            font-family: variables.$u-font-family;
            font-size: 100%;
            line-height: var(--u-line-height);
        }

        input,
        button,
        select,
        textarea {
            font-family: inherit;
            font-size: inherit;
            line-height: var(--u-line-height);

            &:focus {
                outline: none;
            }
        }
    }
}
