$shadows: (
        sm: 0 1px 1px rgba(0, 0, 0, .1),
        md: 0 2px 4px rgba(0, 0, 0, .1),
        lg: 0 3px 8px rgba(0, 0, 0, .1),
) !default;

@each $name, $shadow in $shadows {
    .shadow-#{$name} {
        box-shadow: $shadow;
    }
}