$h: 10;
$w: 10;

@include sizing {
    $prefix: getCurrentPrefix();

    @while $h <= 200 {
        #{$prefix}height-#{$h} {
            height: #{$h}px;
        }
        $h: $h + 10;
    }

    @while $w <= 100 {
        #{$prefix}width-#{$w} {
            width: unquote('#{$w}%');
        }
        $w: $w + 5;
    }
}