$i: 0;

@while $i < 200 {
    .height-#{$i} {
        height: #{$i}px;
    }
    $i: $i + 10;
}

$j: 0;
@include sizing {
    @while $j < 200 {
        &\:height-#{$j} {
            height: #{$j}px;
        }
        $j: $j + 10;
    }
}