$h: 10;
$w: 10;

.responsive {
    max-width: 100%;
    height: auto;
}

@include sizing {
    $prefix: getCurrentPrefix();

    @while $h <= 200 {
        #{$prefix}h-#{$h} {
            height: #{$h}px;
        }
        $h: $h + 10;
    }

    @while $w <= 100 {
        #{$prefix}w-#{$w} {
            width: unquote('#{$w}%');
        }
        $w: $w + 5;
    }
}
