.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

$i: 0;

@include sizing {
    $prefix: getCurrentPrefix();

    @while $i <= 100 {
        $space: 0;
        @if($i > 0) {
            $space: #{$i}px;
        }

        @each $prop, $abbrev in (margin: m, padding: p) {
            #{$prefix}#{$abbrev}-#{$i} {
                #{$prop}: $space;
            }
            #{$prefix}#{$abbrev}t-#{$i} {
                #{$prop}-top: $space;
            }
            #{$prefix}#{$abbrev}r-#{$i} {
                #{$prop}-right: $space;
            }
            #{$prefix}#{$abbrev}b-#{$i} {
                #{$prop}-bottom: $space;
            }
            #{$prefix}#{$abbrev}l-#{$i} {
                #{$prop}-left: $space;
            }
            #{$prefix}#{$abbrev}y-#{$i} {
                #{$prop}-top: $space;
                #{$prop}-bottom: $space;
            }
            #{$prefix}#{$abbrev}x-#{$i} {
                #{$prop}-left: $space;
                #{$prop}-right: $space;
            }

            // Negatives
            @if($i > 0) {
                #{$prefix}#{$abbrev}--#{$i} {
                    #{$prop}: -#{$space};
                }
                #{$prefix}#{$abbrev}t--#{$i} {
                    #{$prop}-top: -#{$space};
                }
                #{$prefix}#{$abbrev}r--#{$i} {
                    #{$prop}-right: -#{$space};
                }
                #{$prefix}#{$abbrev}b--#{$i} {
                    #{$prop}-bottom: -#{$space};
                }
                #{$prefix}#{$abbrev}l--#{$i} {
                    #{$prop}-left: -#{$space};
                }
                #{$prefix}#{$abbrev}y--#{$i} {
                    #{$prop}-top: -#{$space};
                    #{$prop}-bottom: -#{$space};
                }
                #{$prefix}#{$abbrev}x--#{$i} {
                    #{$prop}-left: -#{$space};
                    #{$prop}-right: -#{$space};
                }
            }
        }

        $i: $i + 5;
    }

    @each $prop, $abbrev in (margin: m, padding: p) {
        #{$prefix}#{$abbrev}-auto {
            #{$prop}: auto;
        }
        #{$prefix}#{$abbrev}t-auto {
            #{$prop}-top: auto;
        }
        #{$prefix}#{$abbrev}r-auto {
            #{$prop}-right: auto;
        }
        #{$prefix}#{$abbrev}b-auto {
            #{$prop}-bottom: auto;
        }
        #{$prefix}#{$abbrev}l-auto {
            #{$prop}-left: auto;
        }
        #{$prefix}#{$abbrev}y-auto {
            #{$prop}-top: auto;
            #{$prop}-bottom: auto;
        }
        #{$prefix}#{$abbrev}x-auto {
            #{$prop}-left: auto;
            #{$prop}-right: auto;
        }
    }
}