@include sizing using($prefix) {
    #{$prefix}text-left {
        text-align: important(left);
    }

    #{$prefix}text-right {
        text-align: important(right);
    }

    #{$prefix}text-center {
        text-align: important(center);
    }

    #{$prefix}text-b {
        font-weight: important(bold);
    }
}
