@include sizing {
    $prefix: getCurrentPrefix();

    #{$prefix}text-left {
        text-align: left;
    }

    #{$prefix}text-right {
        text-align: right;
    }

    #{$prefix}text-center {
        text-align: center;
    }

    #{$prefix}text-b {
        font-weight: bold;
    }

    #{$prefix}text-sm {
        font-size: 0.875rem;
    }

    #{$prefix}text-lg {
        font-size: 1.125rem;
    }
}