$sizes: (
        base: null,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xlg: 1200px
) !default;

$yiq-contrasted-threshold: 150 !default;

$enable-reset: true !default;

$line-height: 1.5rem !default;

$font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol !default;