@forward "scss/variables";
@forward "scss/functions";
@forward "scss/mixins";

// Core
@forward "scss/reset" as reset-*;
@forward "scss/grid" as grid-*;
@forward "scss/grid-2" as grid-2-*;
@forward "scss/common" as common-*;
@forward "scss/flex" as flex-*;
@forward "scss/spacing" as spacing-*;
@forward "scss/typo" as typo-*;

@use "scss/variables";
@use "scss/reset";
@use "scss/grid";
@use "scss/grid-2";
@use "scss/common";
@use "scss/flex";
@use "scss/spacing";
@use "scss/typo";

@mixin styles($newGrid: false) {
  @include defaultVariables();
  @include reset.styles();
  @if $newGrid {
    @include grid-2.styles();
  } @else {
    @include grid.styles();
  }
  @include common.styles();
  @include flex.styles();
  @include spacing.styles();
  @include typo.styles();
}

@mixin defaultVariables() {
  #{variables.$u-root} {
    --u-spacing: .25rem;

    @for $i from 1 through 10 {
      --u-spacing-#{$i}: calc(var(--u-spacing) * #{$i});
    }

    --u-line-height: 1.5;
    --u-gutter-width: var(--u-space-3);
    --u-container-width: 1100px;
    --u-container-padding: var(--u-gutter-width, var(--u-space-3));
  }
}
