html,
body {
  margin: 0;
  padding: 0; }

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 100%;
  line-height: 1.6; }

.btn,
.form-control {
  border: 1px solid transparent;
  font-family: inherit;
  font-size: inherit;
  padding: 8px 12px;
  border-radius: 3px; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.d-flex {
  display: flex; }

.d-inline-flex {
  display: inline-flex; }

.flex-wrap {
  flex-wrap: wrap; }

.flex-row {
  flex-direction: row; }

.flex-column {
  flex-direction: column; }

.justify-between {
  justify-content: space-between; }

.justify-start {
  justify-content: flex-start; }

.justify-end {
  justify-content: flex-end; }

.items-start {
  align-items: flex-start; }

.items-center {
  align-items: center; }

.items-end {
  align-items: flex-end; }

.self-start {
  align-self: flex-start; }

.self-send {
  align-self: flex-end; }

.self-center {
  align-self: center; }

.d-block {
  display: block; }

.d-inline-block {
  display: inline-block; }

.shadow-sm {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }

.shadow-md {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }

.shadow-lg {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1); }

.text-black {
  color: black; }

.link-black a {
  color: black; }

.bg-black {
  background-color: black; }

.border-black {
  border: 1px solid black; }

.border-black-t {
  border-top: 1px solid black; }

.border-black-r {
  border-right: 1px solid black; }

.border-black-b {
  border-bottom: 1px solid black; }

.border-black-l {
  border-left: 1px solid black; }

.border-black-y {
  border-top: 1px solid black;
  border-bottom: 1px solid black; }

.border-black-x {
  border-left: 1px solid black;
  border-right: 1px solid black; }

.text-white {
  color: white; }

.link-white a {
  color: white; }

.bg-white {
  background-color: white; }

.border-white {
  border: 1px solid white; }

.border-white-t {
  border-top: 1px solid white; }

.border-white-r {
  border-right: 1px solid white; }

.border-white-b {
  border-bottom: 1px solid white; }

.border-white-l {
  border-left: 1px solid white; }

.border-white-y {
  border-top: 1px solid white;
  border-bottom: 1px solid white; }

.border-white-x {
  border-left: 1px solid white;
  border-right: 1px solid white; }

.text-primary {
  color: #5f86a4; }

.link-primary a {
  color: #5f86a4; }

.bg-primary {
  background-color: #5f86a4; }

.border-primary {
  border: 1px solid #5f86a4; }

.border-primary-t {
  border-top: 1px solid #5f86a4; }

.border-primary-r {
  border-right: 1px solid #5f86a4; }

.border-primary-b {
  border-bottom: 1px solid #5f86a4; }

.border-primary-l {
  border-left: 1px solid #5f86a4; }

.border-primary-y {
  border-top: 1px solid #5f86a4;
  border-bottom: 1px solid #5f86a4; }

.border-primary-x {
  border-left: 1px solid #5f86a4;
  border-right: 1px solid #5f86a4; }

.text-secondary {
  color: #8675a9; }

.link-secondary a {
  color: #8675a9; }

.bg-secondary {
  background-color: #8675a9; }

.border-secondary {
  border: 1px solid #8675a9; }

.border-secondary-t {
  border-top: 1px solid #8675a9; }

.border-secondary-r {
  border-right: 1px solid #8675a9; }

.border-secondary-b {
  border-bottom: 1px solid #8675a9; }

.border-secondary-l {
  border-left: 1px solid #8675a9; }

.border-secondary-y {
  border-top: 1px solid #8675a9;
  border-bottom: 1px solid #8675a9; }

.border-secondary-x {
  border-left: 1px solid #8675a9;
  border-right: 1px solid #8675a9; }

.mx-auto {
  margin-left: auto;
  margin-right: auto; }

.m-0 {
  margin: 0rem; }

.mt-0 {
  margin-top: 0rem; }

.mr-0 {
  margin-right: 0rem; }

.mb-0 {
  margin-bottom: 0rem; }

.ml-0 {
  margin-left: 0rem; }

.my-0 {
  margin-top: 0rem;
  margin-bottom: 0rem; }

.mx-0 {
  margin-left: 0rem;
  margin-right: 0rem; }

.m-1 {
  margin: 0.25rem; }

.mt-1 {
  margin-top: 0.25rem; }

.mr-1 {
  margin-right: 0.25rem; }

.mb-1 {
  margin-bottom: 0.25rem; }

.ml-1 {
  margin-left: 0.25rem; }

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem; }

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem; }

.m-2 {
  margin: 0.5rem; }

.mt-2 {
  margin-top: 0.5rem; }

.mr-2 {
  margin-right: 0.5rem; }

.mb-2 {
  margin-bottom: 0.5rem; }

.ml-2 {
  margin-left: 0.5rem; }

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.m-3 {
  margin: 0.75rem; }

.mt-3 {
  margin-top: 0.75rem; }

.mr-3 {
  margin-right: 0.75rem; }

.mb-3 {
  margin-bottom: 0.75rem; }

.ml-3 {
  margin-left: 0.75rem; }

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem; }

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem; }

.m-4 {
  margin: 1rem; }

.mt-4 {
  margin-top: 1rem; }

.mr-4 {
  margin-right: 1rem; }

.mb-4 {
  margin-bottom: 1rem; }

.ml-4 {
  margin-left: 1rem; }

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem; }

.m-5 {
  margin: 1.25rem; }

.mt-5 {
  margin-top: 1.25rem; }

.mr-5 {
  margin-right: 1.25rem; }

.mb-5 {
  margin-bottom: 1.25rem; }

.ml-5 {
  margin-left: 1.25rem; }

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem; }

.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem; }

.m-6 {
  margin: 1.5rem; }

.mt-6 {
  margin-top: 1.5rem; }

.mr-6 {
  margin-right: 1.5rem; }

.mb-6 {
  margin-bottom: 1.5rem; }

.ml-6 {
  margin-left: 1.5rem; }

.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem; }

.m-7 {
  margin: 1.75rem; }

.mt-7 {
  margin-top: 1.75rem; }

.mr-7 {
  margin-right: 1.75rem; }

.mb-7 {
  margin-bottom: 1.75rem; }

.ml-7 {
  margin-left: 1.75rem; }

.my-7 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem; }

.mx-7 {
  margin-left: 1.75rem;
  margin-right: 1.75rem; }

.m-8 {
  margin: 2rem; }

.mt-8 {
  margin-top: 2rem; }

.mr-8 {
  margin-right: 2rem; }

.mb-8 {
  margin-bottom: 2rem; }

.ml-8 {
  margin-left: 2rem; }

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.mx-8 {
  margin-left: 2rem;
  margin-right: 2rem; }

.m-9 {
  margin: 2.25rem; }

.mt-9 {
  margin-top: 2.25rem; }

.mr-9 {
  margin-right: 2.25rem; }

.mb-9 {
  margin-bottom: 2.25rem; }

.ml-9 {
  margin-left: 2.25rem; }

.my-9 {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem; }

.mx-9 {
  margin-left: 2.25rem;
  margin-right: 2.25rem; }

.m-10 {
  margin: 2.5rem; }

.mt-10 {
  margin-top: 2.5rem; }

.mr-10 {
  margin-right: 2.5rem; }

.mb-10 {
  margin-bottom: 2.5rem; }

.ml-10 {
  margin-left: 2.5rem; }

.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem; }

.mx-10 {
  margin-left: 2.5rem;
  margin-right: 2.5rem; }

.p-0 {
  padding: 0rem; }

.pt-0 {
  padding-top: 0rem; }

.pr-0 {
  padding-right: 0rem; }

.pb-0 {
  padding-bottom: 0rem; }

.pl-0 {
  padding-left: 0rem; }

.py-0 {
  padding-top: 0rem;
  padding-bottom: 0rem; }

.px-0 {
  padding-left: 0rem;
  padding-right: 0rem; }

.p-1 {
  padding: 0.25rem; }

.pt-1 {
  padding-top: 0.25rem; }

.pr-1 {
  padding-right: 0.25rem; }

.pb-1 {
  padding-bottom: 0.25rem; }

.pl-1 {
  padding-left: 0.25rem; }

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; }

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem; }

.p-2 {
  padding: 0.5rem; }

.pt-2 {
  padding-top: 0.5rem; }

.pr-2 {
  padding-right: 0.5rem; }

.pb-2 {
  padding-bottom: 0.5rem; }

.pl-2 {
  padding-left: 0.5rem; }

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.p-3 {
  padding: 0.75rem; }

.pt-3 {
  padding-top: 0.75rem; }

.pr-3 {
  padding-right: 0.75rem; }

.pb-3 {
  padding-bottom: 0.75rem; }

.pl-3 {
  padding-left: 0.75rem; }

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; }

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem; }

.p-4 {
  padding: 1rem; }

.pt-4 {
  padding-top: 1rem; }

.pr-4 {
  padding-right: 1rem; }

.pb-4 {
  padding-bottom: 1rem; }

.pl-4 {
  padding-left: 1rem; }

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem; }

.p-5 {
  padding: 1.25rem; }

.pt-5 {
  padding-top: 1.25rem; }

.pr-5 {
  padding-right: 1.25rem; }

.pb-5 {
  padding-bottom: 1.25rem; }

.pl-5 {
  padding-left: 1.25rem; }

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem; }

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem; }

.p-6 {
  padding: 1.5rem; }

.pt-6 {
  padding-top: 1.5rem; }

.pr-6 {
  padding-right: 1.5rem; }

.pb-6 {
  padding-bottom: 1.5rem; }

.pl-6 {
  padding-left: 1.5rem; }

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.p-7 {
  padding: 1.75rem; }

.pt-7 {
  padding-top: 1.75rem; }

.pr-7 {
  padding-right: 1.75rem; }

.pb-7 {
  padding-bottom: 1.75rem; }

.pl-7 {
  padding-left: 1.75rem; }

.py-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem; }

.px-7 {
  padding-left: 1.75rem;
  padding-right: 1.75rem; }

.p-8 {
  padding: 2rem; }

.pt-8 {
  padding-top: 2rem; }

.pr-8 {
  padding-right: 2rem; }

.pb-8 {
  padding-bottom: 2rem; }

.pl-8 {
  padding-left: 2rem; }

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem; }

.p-9 {
  padding: 2.25rem; }

.pt-9 {
  padding-top: 2.25rem; }

.pr-9 {
  padding-right: 2.25rem; }

.pb-9 {
  padding-bottom: 2.25rem; }

.pl-9 {
  padding-left: 2.25rem; }

.py-9 {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem; }

.px-9 {
  padding-left: 2.25rem;
  padding-right: 2.25rem; }

.p-10 {
  padding: 2.5rem; }

.pt-10 {
  padding-top: 2.5rem; }

.pr-10 {
  padding-right: 2.5rem; }

.pb-10 {
  padding-bottom: 2.5rem; }

.pl-10 {
  padding-left: 2.5rem; }

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem; }

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem; }

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative; }

.row {
  margin: 0 -10px;
  flex-wrap: wrap;
  display: flex; }

.row-center {
  align-items: center; }

.row-inline {
  display: inline-flex; }

.col {
  flex: 1;
  margin: 0 10px; }

[class*=":col-"] {
  margin-left: 10px;
  margin-right: 10px; }

.col-1 {
  flex: 0 1 calc(8.33333% - 20px);
  max-width: calc(8.33333% - 20px);
  position: relative; }

.col-2 {
  flex: 0 1 calc(16.66667% - 20px);
  max-width: calc(16.66667% - 20px);
  position: relative; }

.col-3 {
  flex: 0 1 calc(25% - 20px);
  max-width: calc(25% - 20px);
  position: relative; }

.col-4 {
  flex: 0 1 calc(33.33333% - 20px);
  max-width: calc(33.33333% - 20px);
  position: relative; }

.col-5 {
  flex: 0 1 calc(41.66667% - 20px);
  max-width: calc(41.66667% - 20px);
  position: relative; }

.col-6 {
  flex: 0 1 calc(50% - 20px);
  max-width: calc(50% - 20px);
  position: relative; }

.col-7 {
  flex: 0 1 calc(58.33333% - 20px);
  max-width: calc(58.33333% - 20px);
  position: relative; }

.col-8 {
  flex: 0 1 calc(66.66667% - 20px);
  max-width: calc(66.66667% - 20px);
  position: relative; }

.col-9 {
  flex: 0 1 calc(75% - 20px);
  max-width: calc(75% - 20px);
  position: relative; }

.col-10 {
  flex: 0 1 calc(83.33333% - 20px);
  max-width: calc(83.33333% - 20px);
  position: relative; }

.col-11 {
  flex: 0 1 calc(91.66667% - 20px);
  max-width: calc(91.66667% - 20px);
  position: relative; }

.col-12 {
  flex: 0 1 calc(100% - 20px);
  max-width: calc(100% - 20px);
  position: relative; }

.w-5 {
  width: 5%; }

.w-10 {
  width: 10%; }

.w-15 {
  width: 15%; }

.w-20 {
  width: 20%; }

.w-25 {
  width: 25%; }

.w-30 {
  width: 30%; }

.w-35 {
  width: 35%; }

.w-40 {
  width: 40%; }

.w-45 {
  width: 45%; }

.w-50 {
  width: 50%; }

.w-55 {
  width: 55%; }

.w-60 {
  width: 60%; }

.w-65 {
  width: 65%; }

.w-70 {
  width: 70%; }

.w-75 {
  width: 75%; }

.w-80 {
  width: 80%; }

.w-85 {
  width: 85%; }

.w-90 {
  width: 90%; }

.w-95 {
  width: 95%; }

.w-100 {
  width: 100%; }

@media (min-width: 576px) {
  .sm\:pull-right {
    float: right; }
  .sm\:pull-left {
    float: left; }
  .sm\:d-flex {
    display: flex; }
  .sm\:d-inline-flex {
    display: inline-flex; }
  .sm\:flex-wrap {
    flex-wrap: wrap; }
  .sm\:flex-row {
    flex-direction: row; }
  .sm\:flex-column {
    flex-direction: column; }
  .sm\:justify-between {
    justify-content: space-between; }
  .sm\:justify-start {
    justify-content: flex-start; }
  .sm\:justify-end {
    justify-content: flex-end; }
  .sm\:d-block {
    display: block; }
  .sm\:d-inline-block {
    display: inline-block; }
  .sm\:items-start {
    align-items: flex-start; }
  .sm\:items-center {
    align-items: center; }
  .sm\:items-end {
    align-items: flex-end; }
  .sm\:self-start {
    align-self: flex-start; }
  .sm\:self-send {
    align-self: flex-end; }
  .sm\:self-center {
    align-self: center; }
  .sm\:col-1 {
    flex: 0 1 calc(8.33333% - 20px);
    max-width: calc(8.33333% - 20px); }
  .sm\:col-offset-1 {
    margin-left: calc(8.33333% + 10px); }
  .sm\:col-2 {
    flex: 0 1 calc(16.66667% - 20px);
    max-width: calc(16.66667% - 20px); }
  .sm\:col-offset-2 {
    margin-left: calc(16.66667% + 10px); }
  .sm\:col-3 {
    flex: 0 1 calc(25% - 20px);
    max-width: calc(25% - 20px); }
  .sm\:col-offset-3 {
    margin-left: calc(25% + 10px); }
  .sm\:col-4 {
    flex: 0 1 calc(33.33333% - 20px);
    max-width: calc(33.33333% - 20px); }
  .sm\:col-offset-4 {
    margin-left: calc(33.33333% + 10px); }
  .sm\:col-5 {
    flex: 0 1 calc(41.66667% - 20px);
    max-width: calc(41.66667% - 20px); }
  .sm\:col-offset-5 {
    margin-left: calc(41.66667% + 10px); }
  .sm\:col-6 {
    flex: 0 1 calc(50% - 20px);
    max-width: calc(50% - 20px); }
  .sm\:col-offset-6 {
    margin-left: calc(50% + 10px); }
  .sm\:col-7 {
    flex: 0 1 calc(58.33333% - 20px);
    max-width: calc(58.33333% - 20px); }
  .sm\:col-offset-7 {
    margin-left: calc(58.33333% + 10px); }
  .sm\:col-8 {
    flex: 0 1 calc(66.66667% - 20px);
    max-width: calc(66.66667% - 20px); }
  .sm\:col-offset-8 {
    margin-left: calc(66.66667% + 10px); }
  .sm\:col-9 {
    flex: 0 1 calc(75% - 20px);
    max-width: calc(75% - 20px); }
  .sm\:col-offset-9 {
    margin-left: calc(75% + 10px); }
  .sm\:col-10 {
    flex: 0 1 calc(83.33333% - 20px);
    max-width: calc(83.33333% - 20px); }
  .sm\:col-offset-10 {
    margin-left: calc(83.33333% + 10px); }
  .sm\:col-11 {
    flex: 0 1 calc(91.66667% - 20px);
    max-width: calc(91.66667% - 20px); }
  .sm\:col-offset-11 {
    margin-left: calc(91.66667% + 10px); }
  .sm\:col-12 {
    flex: 0 1 calc(100% - 20px);
    max-width: calc(100% - 20px); }
  .sm\:col-offset-12 {
    margin-left: calc(100% + 10px); }
  .sm\:mt-0 {
    margin-top: 0px; }
  .sm\:mr-0 {
    margin-right: 0px; }
  .sm\:mb-0 {
    margin-bottom: 0px; }
  .sm\:ml-0 {
    margin-left: 0px; }
  .sm\:my-0 {
    margin-top: 0px;
    margin-bottom: 0px; }
  .sm\:mx-0 {
    margin-left: 0px;
    margin-right: 0px; }
  .sm\:mt-1 {
    margin-top: 5px; }
  .sm\:mr-1 {
    margin-right: 5px; }
  .sm\:mb-1 {
    margin-bottom: 5px; }
  .sm\:ml-1 {
    margin-left: 5px; }
  .sm\:my-1 {
    margin-top: 5px;
    margin-bottom: 5px; }
  .sm\:mx-1 {
    margin-left: 5px;
    margin-right: 5px; }
  .sm\:mt-2 {
    margin-top: 10px; }
  .sm\:mr-2 {
    margin-right: 10px; }
  .sm\:mb-2 {
    margin-bottom: 10px; }
  .sm\:ml-2 {
    margin-left: 10px; }
  .sm\:my-2 {
    margin-top: 10px;
    margin-bottom: 10px; }
  .sm\:mx-2 {
    margin-left: 10px;
    margin-right: 10px; }
  .sm\:mt-3 {
    margin-top: 15px; }
  .sm\:mr-3 {
    margin-right: 15px; }
  .sm\:mb-3 {
    margin-bottom: 15px; }
  .sm\:ml-3 {
    margin-left: 15px; }
  .sm\:my-3 {
    margin-top: 15px;
    margin-bottom: 15px; }
  .sm\:mx-3 {
    margin-left: 15px;
    margin-right: 15px; }
  .sm\:mt-4 {
    margin-top: 20px; }
  .sm\:mr-4 {
    margin-right: 20px; }
  .sm\:mb-4 {
    margin-bottom: 20px; }
  .sm\:ml-4 {
    margin-left: 20px; }
  .sm\:my-4 {
    margin-top: 20px;
    margin-bottom: 20px; }
  .sm\:mx-4 {
    margin-left: 20px;
    margin-right: 20px; }
  .sm\:mt-5 {
    margin-top: 25px; }
  .sm\:mr-5 {
    margin-right: 25px; }
  .sm\:mb-5 {
    margin-bottom: 25px; }
  .sm\:ml-5 {
    margin-left: 25px; }
  .sm\:my-5 {
    margin-top: 25px;
    margin-bottom: 25px; }
  .sm\:mx-5 {
    margin-left: 25px;
    margin-right: 25px; }
  .sm\:pt-0 {
    padding-top: 0px; }
  .sm\:pr-0 {
    padding-right: 0px; }
  .sm\:pb-0 {
    padding-bottom: 0px; }
  .sm\:pl-0 {
    padding-left: 0px; }
  .sm\:py-0 {
    padding-top: 0px;
    padding-bottom: 0px; }
  .sm\:px-0 {
    padding-left: 0px;
    padding-right: 0px; }
  .sm\:pt-1 {
    padding-top: 5px; }
  .sm\:pr-1 {
    padding-right: 5px; }
  .sm\:pb-1 {
    padding-bottom: 5px; }
  .sm\:pl-1 {
    padding-left: 5px; }
  .sm\:py-1 {
    padding-top: 5px;
    padding-bottom: 5px; }
  .sm\:px-1 {
    padding-left: 5px;
    padding-right: 5px; }
  .sm\:pt-2 {
    padding-top: 10px; }
  .sm\:pr-2 {
    padding-right: 10px; }
  .sm\:pb-2 {
    padding-bottom: 10px; }
  .sm\:pl-2 {
    padding-left: 10px; }
  .sm\:py-2 {
    padding-top: 10px;
    padding-bottom: 10px; }
  .sm\:px-2 {
    padding-left: 10px;
    padding-right: 10px; }
  .sm\:pt-3 {
    padding-top: 15px; }
  .sm\:pr-3 {
    padding-right: 15px; }
  .sm\:pb-3 {
    padding-bottom: 15px; }
  .sm\:pl-3 {
    padding-left: 15px; }
  .sm\:py-3 {
    padding-top: 15px;
    padding-bottom: 15px; }
  .sm\:px-3 {
    padding-left: 15px;
    padding-right: 15px; }
  .sm\:pt-4 {
    padding-top: 20px; }
  .sm\:pr-4 {
    padding-right: 20px; }
  .sm\:pb-4 {
    padding-bottom: 20px; }
  .sm\:pl-4 {
    padding-left: 20px; }
  .sm\:py-4 {
    padding-top: 20px;
    padding-bottom: 20px; }
  .sm\:px-4 {
    padding-left: 20px;
    padding-right: 20px; }
  .sm\:pt-5 {
    padding-top: 25px; }
  .sm\:pr-5 {
    padding-right: 25px; }
  .sm\:pb-5 {
    padding-bottom: 25px; }
  .sm\:pl-5 {
    padding-left: 25px; }
  .sm\:py-5 {
    padding-top: 25px;
    padding-bottom: 25px; }
  .sm\:px-5 {
    padding-left: 25px;
    padding-right: 25px; }
  .sm\:w-5 {
    width: 5%; }
  .sm\:w-10 {
    width: 10%; }
  .sm\:w-15 {
    width: 15%; }
  .sm\:w-20 {
    width: 20%; }
  .sm\:w-25 {
    width: 25%; }
  .sm\:w-30 {
    width: 30%; }
  .sm\:w-35 {
    width: 35%; }
  .sm\:w-40 {
    width: 40%; }
  .sm\:w-45 {
    width: 45%; }
  .sm\:w-50 {
    width: 50%; }
  .sm\:w-55 {
    width: 55%; }
  .sm\:w-60 {
    width: 60%; }
  .sm\:w-65 {
    width: 65%; }
  .sm\:w-70 {
    width: 70%; }
  .sm\:w-75 {
    width: 75%; }
  .sm\:w-80 {
    width: 80%; }
  .sm\:w-85 {
    width: 85%; }
  .sm\:w-90 {
    width: 90%; }
  .sm\:w-95 {
    width: 95%; }
  .sm\:w-100 {
    width: 100%; } }

@media (min-width: 768px) {
  .md\:pull-right {
    float: right; }
  .md\:pull-left {
    float: left; }
  .md\:d-flex {
    display: flex; }
  .md\:d-inline-flex {
    display: inline-flex; }
  .md\:flex-wrap {
    flex-wrap: wrap; }
  .md\:flex-row {
    flex-direction: row; }
  .md\:flex-column {
    flex-direction: column; }
  .md\:justify-between {
    justify-content: space-between; }
  .md\:justify-start {
    justify-content: flex-start; }
  .md\:justify-end {
    justify-content: flex-end; }
  .md\:d-block {
    display: block; }
  .md\:d-inline-block {
    display: inline-block; }
  .md\:items-start {
    align-items: flex-start; }
  .md\:items-center {
    align-items: center; }
  .md\:items-end {
    align-items: flex-end; }
  .md\:self-start {
    align-self: flex-start; }
  .md\:self-send {
    align-self: flex-end; }
  .md\:self-center {
    align-self: center; }
  .md\:col-1 {
    flex: 0 1 calc(8.33333% - 20px);
    max-width: calc(8.33333% - 20px); }
  .md\:col-offset-1 {
    margin-left: calc(8.33333% + 10px); }
  .md\:col-2 {
    flex: 0 1 calc(16.66667% - 20px);
    max-width: calc(16.66667% - 20px); }
  .md\:col-offset-2 {
    margin-left: calc(16.66667% + 10px); }
  .md\:col-3 {
    flex: 0 1 calc(25% - 20px);
    max-width: calc(25% - 20px); }
  .md\:col-offset-3 {
    margin-left: calc(25% + 10px); }
  .md\:col-4 {
    flex: 0 1 calc(33.33333% - 20px);
    max-width: calc(33.33333% - 20px); }
  .md\:col-offset-4 {
    margin-left: calc(33.33333% + 10px); }
  .md\:col-5 {
    flex: 0 1 calc(41.66667% - 20px);
    max-width: calc(41.66667% - 20px); }
  .md\:col-offset-5 {
    margin-left: calc(41.66667% + 10px); }
  .md\:col-6 {
    flex: 0 1 calc(50% - 20px);
    max-width: calc(50% - 20px); }
  .md\:col-offset-6 {
    margin-left: calc(50% + 10px); }
  .md\:col-7 {
    flex: 0 1 calc(58.33333% - 20px);
    max-width: calc(58.33333% - 20px); }
  .md\:col-offset-7 {
    margin-left: calc(58.33333% + 10px); }
  .md\:col-8 {
    flex: 0 1 calc(66.66667% - 20px);
    max-width: calc(66.66667% - 20px); }
  .md\:col-offset-8 {
    margin-left: calc(66.66667% + 10px); }
  .md\:col-9 {
    flex: 0 1 calc(75% - 20px);
    max-width: calc(75% - 20px); }
  .md\:col-offset-9 {
    margin-left: calc(75% + 10px); }
  .md\:col-10 {
    flex: 0 1 calc(83.33333% - 20px);
    max-width: calc(83.33333% - 20px); }
  .md\:col-offset-10 {
    margin-left: calc(83.33333% + 10px); }
  .md\:col-11 {
    flex: 0 1 calc(91.66667% - 20px);
    max-width: calc(91.66667% - 20px); }
  .md\:col-offset-11 {
    margin-left: calc(91.66667% + 10px); }
  .md\:col-12 {
    flex: 0 1 calc(100% - 20px);
    max-width: calc(100% - 20px); }
  .md\:col-offset-12 {
    margin-left: calc(100% + 10px); }
  .md\:mt-0 {
    margin-top: 0px; }
  .md\:mr-0 {
    margin-right: 0px; }
  .md\:mb-0 {
    margin-bottom: 0px; }
  .md\:ml-0 {
    margin-left: 0px; }
  .md\:my-0 {
    margin-top: 0px;
    margin-bottom: 0px; }
  .md\:mx-0 {
    margin-left: 0px;
    margin-right: 0px; }
  .md\:mt-1 {
    margin-top: 5px; }
  .md\:mr-1 {
    margin-right: 5px; }
  .md\:mb-1 {
    margin-bottom: 5px; }
  .md\:ml-1 {
    margin-left: 5px; }
  .md\:my-1 {
    margin-top: 5px;
    margin-bottom: 5px; }
  .md\:mx-1 {
    margin-left: 5px;
    margin-right: 5px; }
  .md\:mt-2 {
    margin-top: 10px; }
  .md\:mr-2 {
    margin-right: 10px; }
  .md\:mb-2 {
    margin-bottom: 10px; }
  .md\:ml-2 {
    margin-left: 10px; }
  .md\:my-2 {
    margin-top: 10px;
    margin-bottom: 10px; }
  .md\:mx-2 {
    margin-left: 10px;
    margin-right: 10px; }
  .md\:mt-3 {
    margin-top: 15px; }
  .md\:mr-3 {
    margin-right: 15px; }
  .md\:mb-3 {
    margin-bottom: 15px; }
  .md\:ml-3 {
    margin-left: 15px; }
  .md\:my-3 {
    margin-top: 15px;
    margin-bottom: 15px; }
  .md\:mx-3 {
    margin-left: 15px;
    margin-right: 15px; }
  .md\:mt-4 {
    margin-top: 20px; }
  .md\:mr-4 {
    margin-right: 20px; }
  .md\:mb-4 {
    margin-bottom: 20px; }
  .md\:ml-4 {
    margin-left: 20px; }
  .md\:my-4 {
    margin-top: 20px;
    margin-bottom: 20px; }
  .md\:mx-4 {
    margin-left: 20px;
    margin-right: 20px; }
  .md\:mt-5 {
    margin-top: 25px; }
  .md\:mr-5 {
    margin-right: 25px; }
  .md\:mb-5 {
    margin-bottom: 25px; }
  .md\:ml-5 {
    margin-left: 25px; }
  .md\:my-5 {
    margin-top: 25px;
    margin-bottom: 25px; }
  .md\:mx-5 {
    margin-left: 25px;
    margin-right: 25px; }
  .md\:pt-0 {
    padding-top: 0px; }
  .md\:pr-0 {
    padding-right: 0px; }
  .md\:pb-0 {
    padding-bottom: 0px; }
  .md\:pl-0 {
    padding-left: 0px; }
  .md\:py-0 {
    padding-top: 0px;
    padding-bottom: 0px; }
  .md\:px-0 {
    padding-left: 0px;
    padding-right: 0px; }
  .md\:pt-1 {
    padding-top: 5px; }
  .md\:pr-1 {
    padding-right: 5px; }
  .md\:pb-1 {
    padding-bottom: 5px; }
  .md\:pl-1 {
    padding-left: 5px; }
  .md\:py-1 {
    padding-top: 5px;
    padding-bottom: 5px; }
  .md\:px-1 {
    padding-left: 5px;
    padding-right: 5px; }
  .md\:pt-2 {
    padding-top: 10px; }
  .md\:pr-2 {
    padding-right: 10px; }
  .md\:pb-2 {
    padding-bottom: 10px; }
  .md\:pl-2 {
    padding-left: 10px; }
  .md\:py-2 {
    padding-top: 10px;
    padding-bottom: 10px; }
  .md\:px-2 {
    padding-left: 10px;
    padding-right: 10px; }
  .md\:pt-3 {
    padding-top: 15px; }
  .md\:pr-3 {
    padding-right: 15px; }
  .md\:pb-3 {
    padding-bottom: 15px; }
  .md\:pl-3 {
    padding-left: 15px; }
  .md\:py-3 {
    padding-top: 15px;
    padding-bottom: 15px; }
  .md\:px-3 {
    padding-left: 15px;
    padding-right: 15px; }
  .md\:pt-4 {
    padding-top: 20px; }
  .md\:pr-4 {
    padding-right: 20px; }
  .md\:pb-4 {
    padding-bottom: 20px; }
  .md\:pl-4 {
    padding-left: 20px; }
  .md\:py-4 {
    padding-top: 20px;
    padding-bottom: 20px; }
  .md\:px-4 {
    padding-left: 20px;
    padding-right: 20px; }
  .md\:pt-5 {
    padding-top: 25px; }
  .md\:pr-5 {
    padding-right: 25px; }
  .md\:pb-5 {
    padding-bottom: 25px; }
  .md\:pl-5 {
    padding-left: 25px; }
  .md\:py-5 {
    padding-top: 25px;
    padding-bottom: 25px; }
  .md\:px-5 {
    padding-left: 25px;
    padding-right: 25px; }
  .md\:w-5 {
    width: 5%; }
  .md\:w-10 {
    width: 10%; }
  .md\:w-15 {
    width: 15%; }
  .md\:w-20 {
    width: 20%; }
  .md\:w-25 {
    width: 25%; }
  .md\:w-30 {
    width: 30%; }
  .md\:w-35 {
    width: 35%; }
  .md\:w-40 {
    width: 40%; }
  .md\:w-45 {
    width: 45%; }
  .md\:w-50 {
    width: 50%; }
  .md\:w-55 {
    width: 55%; }
  .md\:w-60 {
    width: 60%; }
  .md\:w-65 {
    width: 65%; }
  .md\:w-70 {
    width: 70%; }
  .md\:w-75 {
    width: 75%; }
  .md\:w-80 {
    width: 80%; }
  .md\:w-85 {
    width: 85%; }
  .md\:w-90 {
    width: 90%; }
  .md\:w-95 {
    width: 95%; }
  .md\:w-100 {
    width: 100%; } }

@media (min-width: 992px) {
  .lg\:pull-right {
    float: right; }
  .lg\:pull-left {
    float: left; }
  .lg\:d-flex {
    display: flex; }
  .lg\:d-inline-flex {
    display: inline-flex; }
  .lg\:flex-wrap {
    flex-wrap: wrap; }
  .lg\:flex-row {
    flex-direction: row; }
  .lg\:flex-column {
    flex-direction: column; }
  .lg\:justify-between {
    justify-content: space-between; }
  .lg\:justify-start {
    justify-content: flex-start; }
  .lg\:justify-end {
    justify-content: flex-end; }
  .lg\:d-block {
    display: block; }
  .lg\:d-inline-block {
    display: inline-block; }
  .lg\:items-start {
    align-items: flex-start; }
  .lg\:items-center {
    align-items: center; }
  .lg\:items-end {
    align-items: flex-end; }
  .lg\:self-start {
    align-self: flex-start; }
  .lg\:self-send {
    align-self: flex-end; }
  .lg\:self-center {
    align-self: center; }
  .lg\:col-1 {
    flex: 0 1 calc(8.33333% - 20px);
    max-width: calc(8.33333% - 20px); }
  .lg\:col-offset-1 {
    margin-left: calc(8.33333% + 10px); }
  .lg\:col-2 {
    flex: 0 1 calc(16.66667% - 20px);
    max-width: calc(16.66667% - 20px); }
  .lg\:col-offset-2 {
    margin-left: calc(16.66667% + 10px); }
  .lg\:col-3 {
    flex: 0 1 calc(25% - 20px);
    max-width: calc(25% - 20px); }
  .lg\:col-offset-3 {
    margin-left: calc(25% + 10px); }
  .lg\:col-4 {
    flex: 0 1 calc(33.33333% - 20px);
    max-width: calc(33.33333% - 20px); }
  .lg\:col-offset-4 {
    margin-left: calc(33.33333% + 10px); }
  .lg\:col-5 {
    flex: 0 1 calc(41.66667% - 20px);
    max-width: calc(41.66667% - 20px); }
  .lg\:col-offset-5 {
    margin-left: calc(41.66667% + 10px); }
  .lg\:col-6 {
    flex: 0 1 calc(50% - 20px);
    max-width: calc(50% - 20px); }
  .lg\:col-offset-6 {
    margin-left: calc(50% + 10px); }
  .lg\:col-7 {
    flex: 0 1 calc(58.33333% - 20px);
    max-width: calc(58.33333% - 20px); }
  .lg\:col-offset-7 {
    margin-left: calc(58.33333% + 10px); }
  .lg\:col-8 {
    flex: 0 1 calc(66.66667% - 20px);
    max-width: calc(66.66667% - 20px); }
  .lg\:col-offset-8 {
    margin-left: calc(66.66667% + 10px); }
  .lg\:col-9 {
    flex: 0 1 calc(75% - 20px);
    max-width: calc(75% - 20px); }
  .lg\:col-offset-9 {
    margin-left: calc(75% + 10px); }
  .lg\:col-10 {
    flex: 0 1 calc(83.33333% - 20px);
    max-width: calc(83.33333% - 20px); }
  .lg\:col-offset-10 {
    margin-left: calc(83.33333% + 10px); }
  .lg\:col-11 {
    flex: 0 1 calc(91.66667% - 20px);
    max-width: calc(91.66667% - 20px); }
  .lg\:col-offset-11 {
    margin-left: calc(91.66667% + 10px); }
  .lg\:col-12 {
    flex: 0 1 calc(100% - 20px);
    max-width: calc(100% - 20px); }
  .lg\:col-offset-12 {
    margin-left: calc(100% + 10px); }
  .lg\:mt-0 {
    margin-top: 0px; }
  .lg\:mr-0 {
    margin-right: 0px; }
  .lg\:mb-0 {
    margin-bottom: 0px; }
  .lg\:ml-0 {
    margin-left: 0px; }
  .lg\:my-0 {
    margin-top: 0px;
    margin-bottom: 0px; }
  .lg\:mx-0 {
    margin-left: 0px;
    margin-right: 0px; }
  .lg\:mt-1 {
    margin-top: 5px; }
  .lg\:mr-1 {
    margin-right: 5px; }
  .lg\:mb-1 {
    margin-bottom: 5px; }
  .lg\:ml-1 {
    margin-left: 5px; }
  .lg\:my-1 {
    margin-top: 5px;
    margin-bottom: 5px; }
  .lg\:mx-1 {
    margin-left: 5px;
    margin-right: 5px; }
  .lg\:mt-2 {
    margin-top: 10px; }
  .lg\:mr-2 {
    margin-right: 10px; }
  .lg\:mb-2 {
    margin-bottom: 10px; }
  .lg\:ml-2 {
    margin-left: 10px; }
  .lg\:my-2 {
    margin-top: 10px;
    margin-bottom: 10px; }
  .lg\:mx-2 {
    margin-left: 10px;
    margin-right: 10px; }
  .lg\:mt-3 {
    margin-top: 15px; }
  .lg\:mr-3 {
    margin-right: 15px; }
  .lg\:mb-3 {
    margin-bottom: 15px; }
  .lg\:ml-3 {
    margin-left: 15px; }
  .lg\:my-3 {
    margin-top: 15px;
    margin-bottom: 15px; }
  .lg\:mx-3 {
    margin-left: 15px;
    margin-right: 15px; }
  .lg\:mt-4 {
    margin-top: 20px; }
  .lg\:mr-4 {
    margin-right: 20px; }
  .lg\:mb-4 {
    margin-bottom: 20px; }
  .lg\:ml-4 {
    margin-left: 20px; }
  .lg\:my-4 {
    margin-top: 20px;
    margin-bottom: 20px; }
  .lg\:mx-4 {
    margin-left: 20px;
    margin-right: 20px; }
  .lg\:mt-5 {
    margin-top: 25px; }
  .lg\:mr-5 {
    margin-right: 25px; }
  .lg\:mb-5 {
    margin-bottom: 25px; }
  .lg\:ml-5 {
    margin-left: 25px; }
  .lg\:my-5 {
    margin-top: 25px;
    margin-bottom: 25px; }
  .lg\:mx-5 {
    margin-left: 25px;
    margin-right: 25px; }
  .lg\:pt-0 {
    padding-top: 0px; }
  .lg\:pr-0 {
    padding-right: 0px; }
  .lg\:pb-0 {
    padding-bottom: 0px; }
  .lg\:pl-0 {
    padding-left: 0px; }
  .lg\:py-0 {
    padding-top: 0px;
    padding-bottom: 0px; }
  .lg\:px-0 {
    padding-left: 0px;
    padding-right: 0px; }
  .lg\:pt-1 {
    padding-top: 5px; }
  .lg\:pr-1 {
    padding-right: 5px; }
  .lg\:pb-1 {
    padding-bottom: 5px; }
  .lg\:pl-1 {
    padding-left: 5px; }
  .lg\:py-1 {
    padding-top: 5px;
    padding-bottom: 5px; }
  .lg\:px-1 {
    padding-left: 5px;
    padding-right: 5px; }
  .lg\:pt-2 {
    padding-top: 10px; }
  .lg\:pr-2 {
    padding-right: 10px; }
  .lg\:pb-2 {
    padding-bottom: 10px; }
  .lg\:pl-2 {
    padding-left: 10px; }
  .lg\:py-2 {
    padding-top: 10px;
    padding-bottom: 10px; }
  .lg\:px-2 {
    padding-left: 10px;
    padding-right: 10px; }
  .lg\:pt-3 {
    padding-top: 15px; }
  .lg\:pr-3 {
    padding-right: 15px; }
  .lg\:pb-3 {
    padding-bottom: 15px; }
  .lg\:pl-3 {
    padding-left: 15px; }
  .lg\:py-3 {
    padding-top: 15px;
    padding-bottom: 15px; }
  .lg\:px-3 {
    padding-left: 15px;
    padding-right: 15px; }
  .lg\:pt-4 {
    padding-top: 20px; }
  .lg\:pr-4 {
    padding-right: 20px; }
  .lg\:pb-4 {
    padding-bottom: 20px; }
  .lg\:pl-4 {
    padding-left: 20px; }
  .lg\:py-4 {
    padding-top: 20px;
    padding-bottom: 20px; }
  .lg\:px-4 {
    padding-left: 20px;
    padding-right: 20px; }
  .lg\:pt-5 {
    padding-top: 25px; }
  .lg\:pr-5 {
    padding-right: 25px; }
  .lg\:pb-5 {
    padding-bottom: 25px; }
  .lg\:pl-5 {
    padding-left: 25px; }
  .lg\:py-5 {
    padding-top: 25px;
    padding-bottom: 25px; }
  .lg\:px-5 {
    padding-left: 25px;
    padding-right: 25px; }
  .lg\:w-5 {
    width: 5%; }
  .lg\:w-10 {
    width: 10%; }
  .lg\:w-15 {
    width: 15%; }
  .lg\:w-20 {
    width: 20%; }
  .lg\:w-25 {
    width: 25%; }
  .lg\:w-30 {
    width: 30%; }
  .lg\:w-35 {
    width: 35%; }
  .lg\:w-40 {
    width: 40%; }
  .lg\:w-45 {
    width: 45%; }
  .lg\:w-50 {
    width: 50%; }
  .lg\:w-55 {
    width: 55%; }
  .lg\:w-60 {
    width: 60%; }
  .lg\:w-65 {
    width: 65%; }
  .lg\:w-70 {
    width: 70%; }
  .lg\:w-75 {
    width: 75%; }
  .lg\:w-80 {
    width: 80%; }
  .lg\:w-85 {
    width: 85%; }
  .lg\:w-90 {
    width: 90%; }
  .lg\:w-95 {
    width: 95%; }
  .lg\:w-100 {
    width: 100%; } }

@media (min-width: 1200px) {
  .xlg\:pull-right {
    float: right; }
  .xlg\:pull-left {
    float: left; }
  .xlg\:d-flex {
    display: flex; }
  .xlg\:d-inline-flex {
    display: inline-flex; }
  .xlg\:flex-wrap {
    flex-wrap: wrap; }
  .xlg\:flex-row {
    flex-direction: row; }
  .xlg\:flex-column {
    flex-direction: column; }
  .xlg\:justify-between {
    justify-content: space-between; }
  .xlg\:justify-start {
    justify-content: flex-start; }
  .xlg\:justify-end {
    justify-content: flex-end; }
  .xlg\:d-block {
    display: block; }
  .xlg\:d-inline-block {
    display: inline-block; }
  .xlg\:items-start {
    align-items: flex-start; }
  .xlg\:items-center {
    align-items: center; }
  .xlg\:items-end {
    align-items: flex-end; }
  .xlg\:self-start {
    align-self: flex-start; }
  .xlg\:self-send {
    align-self: flex-end; }
  .xlg\:self-center {
    align-self: center; }
  .xlg\:col-1 {
    flex: 0 1 calc(8.33333% - 20px);
    max-width: calc(8.33333% - 20px); }
  .xlg\:col-offset-1 {
    margin-left: calc(8.33333% + 10px); }
  .xlg\:col-2 {
    flex: 0 1 calc(16.66667% - 20px);
    max-width: calc(16.66667% - 20px); }
  .xlg\:col-offset-2 {
    margin-left: calc(16.66667% + 10px); }
  .xlg\:col-3 {
    flex: 0 1 calc(25% - 20px);
    max-width: calc(25% - 20px); }
  .xlg\:col-offset-3 {
    margin-left: calc(25% + 10px); }
  .xlg\:col-4 {
    flex: 0 1 calc(33.33333% - 20px);
    max-width: calc(33.33333% - 20px); }
  .xlg\:col-offset-4 {
    margin-left: calc(33.33333% + 10px); }
  .xlg\:col-5 {
    flex: 0 1 calc(41.66667% - 20px);
    max-width: calc(41.66667% - 20px); }
  .xlg\:col-offset-5 {
    margin-left: calc(41.66667% + 10px); }
  .xlg\:col-6 {
    flex: 0 1 calc(50% - 20px);
    max-width: calc(50% - 20px); }
  .xlg\:col-offset-6 {
    margin-left: calc(50% + 10px); }
  .xlg\:col-7 {
    flex: 0 1 calc(58.33333% - 20px);
    max-width: calc(58.33333% - 20px); }
  .xlg\:col-offset-7 {
    margin-left: calc(58.33333% + 10px); }
  .xlg\:col-8 {
    flex: 0 1 calc(66.66667% - 20px);
    max-width: calc(66.66667% - 20px); }
  .xlg\:col-offset-8 {
    margin-left: calc(66.66667% + 10px); }
  .xlg\:col-9 {
    flex: 0 1 calc(75% - 20px);
    max-width: calc(75% - 20px); }
  .xlg\:col-offset-9 {
    margin-left: calc(75% + 10px); }
  .xlg\:col-10 {
    flex: 0 1 calc(83.33333% - 20px);
    max-width: calc(83.33333% - 20px); }
  .xlg\:col-offset-10 {
    margin-left: calc(83.33333% + 10px); }
  .xlg\:col-11 {
    flex: 0 1 calc(91.66667% - 20px);
    max-width: calc(91.66667% - 20px); }
  .xlg\:col-offset-11 {
    margin-left: calc(91.66667% + 10px); }
  .xlg\:col-12 {
    flex: 0 1 calc(100% - 20px);
    max-width: calc(100% - 20px); }
  .xlg\:col-offset-12 {
    margin-left: calc(100% + 10px); }
  .xlg\:mt-0 {
    margin-top: 0px; }
  .xlg\:mr-0 {
    margin-right: 0px; }
  .xlg\:mb-0 {
    margin-bottom: 0px; }
  .xlg\:ml-0 {
    margin-left: 0px; }
  .xlg\:my-0 {
    margin-top: 0px;
    margin-bottom: 0px; }
  .xlg\:mx-0 {
    margin-left: 0px;
    margin-right: 0px; }
  .xlg\:mt-1 {
    margin-top: 5px; }
  .xlg\:mr-1 {
    margin-right: 5px; }
  .xlg\:mb-1 {
    margin-bottom: 5px; }
  .xlg\:ml-1 {
    margin-left: 5px; }
  .xlg\:my-1 {
    margin-top: 5px;
    margin-bottom: 5px; }
  .xlg\:mx-1 {
    margin-left: 5px;
    margin-right: 5px; }
  .xlg\:mt-2 {
    margin-top: 10px; }
  .xlg\:mr-2 {
    margin-right: 10px; }
  .xlg\:mb-2 {
    margin-bottom: 10px; }
  .xlg\:ml-2 {
    margin-left: 10px; }
  .xlg\:my-2 {
    margin-top: 10px;
    margin-bottom: 10px; }
  .xlg\:mx-2 {
    margin-left: 10px;
    margin-right: 10px; }
  .xlg\:mt-3 {
    margin-top: 15px; }
  .xlg\:mr-3 {
    margin-right: 15px; }
  .xlg\:mb-3 {
    margin-bottom: 15px; }
  .xlg\:ml-3 {
    margin-left: 15px; }
  .xlg\:my-3 {
    margin-top: 15px;
    margin-bottom: 15px; }
  .xlg\:mx-3 {
    margin-left: 15px;
    margin-right: 15px; }
  .xlg\:mt-4 {
    margin-top: 20px; }
  .xlg\:mr-4 {
    margin-right: 20px; }
  .xlg\:mb-4 {
    margin-bottom: 20px; }
  .xlg\:ml-4 {
    margin-left: 20px; }
  .xlg\:my-4 {
    margin-top: 20px;
    margin-bottom: 20px; }
  .xlg\:mx-4 {
    margin-left: 20px;
    margin-right: 20px; }
  .xlg\:mt-5 {
    margin-top: 25px; }
  .xlg\:mr-5 {
    margin-right: 25px; }
  .xlg\:mb-5 {
    margin-bottom: 25px; }
  .xlg\:ml-5 {
    margin-left: 25px; }
  .xlg\:my-5 {
    margin-top: 25px;
    margin-bottom: 25px; }
  .xlg\:mx-5 {
    margin-left: 25px;
    margin-right: 25px; }
  .xlg\:pt-0 {
    padding-top: 0px; }
  .xlg\:pr-0 {
    padding-right: 0px; }
  .xlg\:pb-0 {
    padding-bottom: 0px; }
  .xlg\:pl-0 {
    padding-left: 0px; }
  .xlg\:py-0 {
    padding-top: 0px;
    padding-bottom: 0px; }
  .xlg\:px-0 {
    padding-left: 0px;
    padding-right: 0px; }
  .xlg\:pt-1 {
    padding-top: 5px; }
  .xlg\:pr-1 {
    padding-right: 5px; }
  .xlg\:pb-1 {
    padding-bottom: 5px; }
  .xlg\:pl-1 {
    padding-left: 5px; }
  .xlg\:py-1 {
    padding-top: 5px;
    padding-bottom: 5px; }
  .xlg\:px-1 {
    padding-left: 5px;
    padding-right: 5px; }
  .xlg\:pt-2 {
    padding-top: 10px; }
  .xlg\:pr-2 {
    padding-right: 10px; }
  .xlg\:pb-2 {
    padding-bottom: 10px; }
  .xlg\:pl-2 {
    padding-left: 10px; }
  .xlg\:py-2 {
    padding-top: 10px;
    padding-bottom: 10px; }
  .xlg\:px-2 {
    padding-left: 10px;
    padding-right: 10px; }
  .xlg\:pt-3 {
    padding-top: 15px; }
  .xlg\:pr-3 {
    padding-right: 15px; }
  .xlg\:pb-3 {
    padding-bottom: 15px; }
  .xlg\:pl-3 {
    padding-left: 15px; }
  .xlg\:py-3 {
    padding-top: 15px;
    padding-bottom: 15px; }
  .xlg\:px-3 {
    padding-left: 15px;
    padding-right: 15px; }
  .xlg\:pt-4 {
    padding-top: 20px; }
  .xlg\:pr-4 {
    padding-right: 20px; }
  .xlg\:pb-4 {
    padding-bottom: 20px; }
  .xlg\:pl-4 {
    padding-left: 20px; }
  .xlg\:py-4 {
    padding-top: 20px;
    padding-bottom: 20px; }
  .xlg\:px-4 {
    padding-left: 20px;
    padding-right: 20px; }
  .xlg\:pt-5 {
    padding-top: 25px; }
  .xlg\:pr-5 {
    padding-right: 25px; }
  .xlg\:pb-5 {
    padding-bottom: 25px; }
  .xlg\:pl-5 {
    padding-left: 25px; }
  .xlg\:py-5 {
    padding-top: 25px;
    padding-bottom: 25px; }
  .xlg\:px-5 {
    padding-left: 25px;
    padding-right: 25px; }
  .xlg\:w-5 {
    width: 5%; }
  .xlg\:w-10 {
    width: 10%; }
  .xlg\:w-15 {
    width: 15%; }
  .xlg\:w-20 {
    width: 20%; }
  .xlg\:w-25 {
    width: 25%; }
  .xlg\:w-30 {
    width: 30%; }
  .xlg\:w-35 {
    width: 35%; }
  .xlg\:w-40 {
    width: 40%; }
  .xlg\:w-45 {
    width: 45%; }
  .xlg\:w-50 {
    width: 50%; }
  .xlg\:w-55 {
    width: 55%; }
  .xlg\:w-60 {
    width: 60%; }
  .xlg\:w-65 {
    width: 65%; }
  .xlg\:w-70 {
    width: 70%; }
  .xlg\:w-75 {
    width: 75%; }
  .xlg\:w-80 {
    width: 80%; }
  .xlg\:w-85 {
    width: 85%; }
  .xlg\:w-90 {
    width: 90%; }
  .xlg\:w-95 {
    width: 95%; }
  .xlg\:w-100 {
    width: 100%; } }
